* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:hover {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #000;
}

button {
  background-color: #00000000;
  border: none;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.hr {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #00000041;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.header-contacts {
  position: relative;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.header-contacts-part {
  margin: auto 0;
  display: flex;
  gap: 40px;
}

.header-nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.header-nav-items {
  margin: auto 0;
}

@media only screen and (max-width: 690px) {

  .hr,
  .header-contacts {
    display: none;
  }

}


@media only screen and (max-width: 500px) {

  .header-contacts__item {
    display: block;
  }

  .header-nav {
    justify-content: center;
  }

  .header-nav__image {
    display: none;
  }

}